.git
.gitignore
.env
node_modules/
npm-debug.log
vendor/
.DS_Store
docker-compose.yml
docker-compose.prod.yml
.github/
.gitlab-ci.yml
.idea/
.vscode/
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
!storage/framework/cache/data/.gitignore
!storage/framework/sessions/.gitignore
!storage/framework/views/.gitignore
!storage/logs/.gitignore
tests/
